### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Dependencies and Setup

# File to Load (Remember to Change These)
school_data_to_load = "./Resources/schools_complete.csv"
student_data_to_load = "./Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# calculate the number of schools.
unique = len(pd.unique(school_data_complete["school_name"]))
print("The number of schools: "+ str(unique))

The number of schools: 15

In [4]:
# calculate the number of students.
unique_st = len(pd.unique(school_data_complete["Student ID"]))
print("The number of students: "+ str(unique_st))

The number of students: 39170

In [5]:
#calculate the total budget.
budget = school_data_complete["budget"].sum()
print("The total budget: "+ str(budget))

The total budget: 82932329558

In [6]:
#calculate the average math score
avg_math = school_data_complete["math_score"].mean()
print("The average math score: "+ str(avg_math))

The average math score: 78.98537145774827

In [7]:
#calculate the average reading score
avg_read = school_data_complete["reading_score"].mean()
print("The average reading score: "+ str(avg_read))

The average reading score: 81.87784018381414

In [8]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [9]:
#calculate the percentage of students who passed math (70 or greater)
#calculate the percentage of students who passed reading (70 or greater)

passed_m = school_data_complete[school_data_complete["math_score"] >=70]["math_score"].count() 
passed_r = school_data_complete[school_data_complete["reading_score"]>=70]["reading_score"].count()

print("The percentage of students who passed math: "+ str(passed_m))

The percentage of students who passed math: 29370

In [10]:
percentage_m = passed_m/unique_st * 100
percentage_m

74.9808526933878

In [11]:
percentage_r = passed_r/unique_st * 100
percentage_r

85.80546336482001

In [12]:
#calculate the percentage of students who passed math AND reading (overall passed)
passed_o = school_data_complete[
    (school_data_complete["math_score"] >=70)
    & (school_data_complete["reading_score"] >=70)]["Student ID"].count() 
passed_o
passed_o/unique_st * 100

65.17232575950983

In [13]:
#create a dataframe to hold the results
summary_df = pd.DataFrame({"Total Schools":[unique],
                          "Total Students":[unique_st],
                          "Total Budget":[budget],
                          "Average Math Score":[avg_math],
                          "Average Reading Score":[avg_read],
                          "Percentage Passed Math":[percentage_m],
                          "Percentage Passed Reading":[percentage_r],
                          "Percentage Passed Overall":[passed_o]})                           
                            
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage Passed Math,Percentage Passed Reading,Percentage Passed Overall
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,25528

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
# Create a new DataFrame that looks into a specific school.
school_metrics_df = school_data_complete.groupby("school_name")

In [23]:
#create dictionary and append as get items; this code is from tutor session
school_dic = {} 
school_dic["Total Students"]= school_metrics_df["Student ID"].count()
school_dic["Total School Budget"]= school_metrics_df["budget"].mean()
school_dic["Type"]= school_metrics_df["type"].count()
school_dic["Average Math Score"]= school_metrics_df["math_score"].mean()
school_dic["Average Reading Score"]= school_metrics_df["reading_score"].mean()

school_dic["Percent Passing Math"]= school_metrics_df["reading_score"].mean()

school_summary_df = pd.DataFrame.from_dict(school_dic, orient='columns')
school_summary_df

,Total Students,Total School Budget,Type,Average Math Score,Average Reading Score
school_name,,,,,
Bailey High School,4976,3124928,4976,77.048432,81.033963
Cabrera High School,1858,1081356,1858,83.061895,83.975780
Figueroa High School,2949,1884411,2949,76.711767,81.158020
Ford High School,2739,1763916,2739,77.102592,80.746258
Griffin High School,1468,917500,1468,83.351499,83.816757
Hernandez High School,4635,3022020,4635,77.289752,80.934412
Holden High School,427,248087,427,83.803279,83.814988
Huang High School,2917,1910635,2917,76.629414,81.182722
Johnson High School,4761,3094650,4761,77.072464,80.966394
Pena High School,962,585858,962,83.839917,84.044699
Rodriguez High School,3999,2547363,3999,76.842711,80.744686
Shelton High School,1761,1056600,1761,83.359455,83.725724
Thomas High School,1635,1043130,1635,83.418349,83.848930
Wilson High School,2283,1319574,2283,83.274201,83.989488
Wright High School,1800,1049400,1800,83.682222,83.955000

In [33]:
pass_m_byschool = school_summary_df[school_summary_df["Average Math Score"] >=70]
pass_m_byschool

,Total Students,Total School Budget,Type,Average Math Score,Average Reading Score
school_name,,,,,
Bailey High School,4976,3124928,4976,77.048432,81.033963
Cabrera High School,1858,1081356,1858,83.061895,83.975780
Figueroa High School,2949,1884411,2949,76.711767,81.158020
Ford High School,2739,1763916,2739,77.102592,80.746258
Griffin High School,1468,917500,1468,83.351499,83.816757
Hernandez High School,4635,3022020,4635,77.289752,80.934412
Holden High School,427,248087,427,83.803279,83.814988
Huang High School,2917,1910635,2917,76.629414,81.182722
Johnson High School,4761,3094650,4761,77.072464,80.966394
Pena High School,962,585858,962,83.839917,84.044699
Rodriguez High School,3999,2547363,3999,76.842711,80.744686
Shelton High School,1761,1056600,1761,83.359455,83.725724
Thomas High School,1635,1043130,1635,83.418349,83.848930
Wilson High School,2283,1319574,2283,83.274201,83.989488
Wright High School,1800,1049400,1800,83.682222,83.955000

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type