### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Dependencies and Setup

# Load File 
school_data_to_load = "./Resources/schools_complete.csv"
student_data_to_load = "./Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
# calculate the number of schools.
number_schools = len(school_data_complete["school_name"].unique())
number_schools

15

In [5]:
# calculate the number of students.
number_students = len(school_data_complete["Student ID"].unique())
number_students

39170

In [6]:
#calculate the total budget.
total_budget = school_data["budget"].sum()
total_budget

24649428

In [7]:
#calculate the average math score
avg_math = school_data_complete["math_score"].mean()

In [8]:
#calculate the average reading score
avg_read = school_data_complete["reading_score"].mean()

In [9]:
#calculate the percentage of students who passed math (70 or greater)
#calculate the percentage of students who passed reading (70 or greater)

passed_math = ((school_data_complete["math_score"] >=70).sum()/school_data_complete["math_score"].count())*100 
passed_read = ((school_data_complete["reading_score"]>=70).sum()/school_data_complete["reading_score"].count())*100

In [10]:
#calculate the percentage of students who passed math AND reading (overall passed)
passed_overall = ((passed_math + passed_read)/2)

In [11]:
#create a dataframe to hold the results
district_summary = pd.DataFrame({"Total Schools":[number_schools],
                          "Total Students":[number_students],
                          "Total Budget":[total_budget],
                          "Average Math Score":[avg_math],
                          "Average Reading Score":[avg_read],
                          "Percentage Passed Math":[passed_math],
                          "Percentage Passed Reading":[passed_read],
                          "Percentage Passed Overall":[passed_overall]})                           
                            
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage Passed Math,Percentage Passed Reading,Percentage Passed Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [12]:
#Format columns
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}%".format)
district_summary["Percentage Passed Math"] = district_summary["Percentage Passed Math"].map("{:.2f}%".format)
district_summary["Percentage Passed Reading"] = district_summary["Percentage Passed Reading"].map("{:.2f}%".format)
district_summary["Percentage Passed Overall"] = district_summary["Percentage Passed Overall"].map("{:.2f}%".format)

district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage Passed Math,Percentage Passed Reading,Percentage Passed Overall
0,15,"39,170","$24,649,428",78.99%,81.88%,74.98%,85.81%,80.39%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [13]:
# rename school name to shool, create Link for future merge
#sch_df.rename(columns={'name': 'school'}, inplace = True)

#school name
school_df = school_data_complete.set_index('school_name').groupby(['school_name'])
school_df.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [14]:
#school types
sch_types = school_data_complete.set_index('school_name')['type']
sch_types

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [15]:
#Total Students
total_stu = school_df["Student ID"].count()
total_stu

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [ ]:
#Total School Budget
total_budg = school_data.set_index('school_name')['budget']

#Per Student Budget
per_stu_budget = total_budg/total_stu

#Average Math Score
avg_math_score = school_df["math_score"].mean()
avg_math_score

In [ ]:
#Average Reading Score
avg_reading_score = school_df["reading_score"].mean()

# % Passing Math
percent_pass_math = school_data_complete.loc[school_data_complete["math_score"] >= 70].groupby('school_name')['Student ID'].count()/total_stu

# % Passing reading
percent_pass_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70].groupby('school_name')['Student ID'].count()/total_stu

# Overall Passing Rate
overall_pass_rate = (percent_pass_math + percent_pass_reading)/2

In [ ]:
# Create a new DataFrame that groups data by specific school.
school_summary_df = pd.DataFrame({
                               "School Type" : sch_types,
                               "Total Students" : total_stu,
                               "Total School Budget" : total_budg,
                               "Per Student Budget" : per_stu_budget,
                               "Average Math Score" : avg_math_score,
                               "Average Reading Score" : avg_reading_score,
                               "% Passing Math": percent_pass_math,
                               "% Passing Reading" : percent_pass_reading,
                               "Overall Passing Rate" : overall_pass_rate
    
                            })
school_summary_df

In [ ]:
#create dictionary and append as get items; this code is from tutor session
#school_dic = {} 
#school_dic["Total Students"]= school_metrics_df["Student ID"].count()
# school_dic["Total School Budget"]= school_metrics_df["budget"].mean()
# school_dic["Type"]= school_metrics_df["type"].count()
# school_dic["Average Math Score"]= school_metrics_df["math_score"].mean()
# school_dic["Average Reading Score"]= school_metrics_df["reading_score"].mean()

# school_dic["Percent Passing Math"]= school_metrics_df["reading_score"].mean()

# school_summary_df = pd.DataFrame.from_dict(school_dic, orient='columns')
# school_summary_df

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type